*/__pycache__/
*.pyc
build/
cover/*
tests/test_integration/data
tests/test_integration/__pycache__/
tests/test_unit/__pycache__/
.coverage
clevercsv.egg-info/
clevercsv/.coverage
clevercsv/*.so
dist/*
