include setup.py
include README.md
include LICENSE
include requirements.txt
recursive-include clevercsv *.py
recursive-include src *.c
recursive-include bin *
recursive-include tests/test_unit *.py
prune tests/test_integration
exclude Makefile
exclude .gitignore
exclude .travis.yml
exclude make_release.py
prune notes
prune auxiliary
