include setup.py
include README.md
include CHANGELOG.md
include LICENSE
include requirements.txt
recursive-include clevercsv *.py
recursive-include src *.c
recursive-include bin *
recursive-include tests/test_unit *.py
prune tests/test_integration
exclude Makefile
exclude .gitignore
exclude .travis.yml
exclude .readthedocs.yml
exclude make_release.py
exclude cgrep
exclude vgrep
prune notes
prune auxiliary
