[tool.black]
line-length=79

[tool.isort]
profile="black"
sections=["FUTURE", "STDLIB", "TYPING", "THIRDPARTY", "FIRSTPARTY", "LOCALFOLDER"]
known_typing=["typing"]
force_single_line=true
lines_between_types=1

[tool.ruff]
# Exclude stubs directory for now
exclude = ["stubs"]

[tool.mypy]
python_version = 3.8
warn_unused_configs = true
warn_redundant_casts = true
warn_unused_ignores = true
strict_equality = true
strict_concatenate = true
check_untyped_defs = true
disallow_subclassing_any = true
disallow_untyped_decorators = true
disallow_any_generics = true
disallow_untyped_calls = true
disallow_incomplete_defs = true
disallow_untyped_defs = false

[[tool.mypy.overrides]]
packages = ["stubs", "clevercsv"]
disallow_incomplete_defs = true
